doctype html
head
  title A Python Web App
body
  h1 Jade is pretty awesome
  p.
    I've been turned on to Jade, and now it's taken over.  Shame it's getting its name
    changed to something odd, but hopefully they'll keep the deathbunny, because a
    deathbunny named pug is just excellent.
