- load staticfiles
doctype html
head
  link(rel='stylesheet', type='text/css', href='{% static "css/styles.css" %}')
  title A Python Web App
body
  div.container-fluid
    block content
  div.copyfooter
    &copy; Ryan Tanay
